PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://YOUR_USER:YOUR_PASS@cluster0.xxxxx.mongodb.net/lsu_tc
JWT_SECRET=lsu_tc_super_secret_2026_change_me
JWT_EXPIRE=7d
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=libyanittihad@gmail.com
EMAIL_PASS=YOUR_GMAIL_APP_PASSWORD
ADMIN_EMAIL=admin@lsu-tc.org
ADMIN_PASSWORD=Admin@LSU2026!
ADMIN_SECRET_KEY=lsu_admin_secret_2026
FRONTEND_URL=http://localhost:5000
